.category {
    min-width: 65%;
    padding: 40px 45px;

    &__title {
        font-size: 30px;
        text-align: left;
    }
    &__amount {
        color: #b6b1b1;
    }
    &__list {
        padding: 0;
    }

    &__item-holder {
        border-bottom: 1px solid #999;
        padding: 35px 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    &__image {
        max-height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__name {
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__description {
        padding: 10px 20px 10px 30px;
        text-align: left;
        align-self: flex-start;
    }

    &__list {
        padding-left: 0;
    }

    &__price {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__currency {
        font-size: 26px;
        color: #999;
    }
    &__cart {
        margin-right: 15px;
    }
    &__btn {
        width: 100%;
        min-width: 190px;
        padding: 10px 20px;
        color: #fff;
        border-radius: 5px;
        background-color: var(--orange);
        font-size: 22px;
        line-height: 22px;
        &:hover,
        &:focus,
        &:active {
            background-color: #cc6a1b;
        }
    }

    &__toast {
        position: fixed;
        top: 11%;
        right: 50%;
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 16px;
        background-color: #fae2bf;
        z-index: 5;
    }
}

.pagination__list {
    display: flex;
}
.pagination__button {
    border: 1px solid #cfe2ff;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px 10px;
    color: #000;
    font-size: 14px;
    &:hover {
        background-color: #cfe2ff;
    }
    &.active {
        background-color: #cfe2ff;
        border: 1px solid #5594f3;
    }
}
