.my-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;

    &__window {
        position: relative;
        width: 800px;
        min-height: 376px;
        height: 620px;
        background-color: #fff;
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.5);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 40px 24px 40px;
        border-radius: 8px;
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        text-align: end;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    &__title {
        font-size: 26px;
        text-align: start;
        margin-bottom: 40px;
    }
    &__list {
        padding: 0;
        width: 100%;
        flex: 1 1 auto;
    }
    &__item {
        display: grid;
        grid-template-columns: 100px 380px 2fr 4fr 2fr;
        font-size: 16px;
        &:not(:last-child) {
            margin-bottom: 45px;
        }
    }
    &__image {
        position: relative;
        height: 150px;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__description {
        padding: 0px 20px;
        font-weight: 500;
    }

    &__quantity {
        display: flex;
        font-size: 18px;
    }
    &__price {
        font-size: 18px;
        white-space: nowrap;
    }
    &__currency {
        font-size: 16px;
        color: #999;
    }
    &__btn {
        padding: 0px 10px;
        color: #999;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
    &__trash {
        font-size: 14px;
        color: #999;
        &:hover {
            color: #525252;
        }
    }
    &__btns {
        display: flex;
        justify-content: end;
    }
    &__button {
        margin-right: 20px;
    }
}
.order {
    &__title {
        font-size: 26px;
        text-align: start;
        margin-bottom: 40px;
    }
    &__form {
        text-align: start;
    }
    &__fieldset {
        display: flex;
        flex-wrap: wrap;
    }
    &__legend {
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 30px;
        margin-bottom: 185px;
    }
    &__item {
        input {
            appearance: none;
            width: 100%;
            border: none;
            border-bottom: 1px solid #999;
            color: #000;
            background: none;
            outline: none;
            padding: 0;
            margin: 0;
            background-color: transparent;
            padding-block: 0;
            padding-inline: 0;
            font: inherit;
            letter-spacing: inherit;
        }
    }
    &__label {
        font-size: 12px;
        width: 100%;
    }
    &__btn-block {
        text-align: end;
    }
}

.notice {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &__list {
        padding: 0;
    }
    &__item {        
        display: grid;
        grid-template-columns: 2fr 1fr;
        border: 1px solid #999;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 20px;
    }
    &__left {
        padding: 0 10px;
        border-right: 1px solid #999;
    }
    &__image {
        width: 100%;
        margin-bottom: 10px;

        img {
            width: 30%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__name {
        font-size: 14px;
        text-align: left;
    }
    &__text {
        padding: 0 10px;
    }
}
